img {
	max-width: 100%;
	transition: all ease-out .3s;
}

.agent-mobile #header {
	box-shadow: 0 0px 48px 0 rgba(0, 0, 0, .1);
}

.agent-mobile .ad01 .content_list li .title {
	color: #fff;
	font-weight: bold;
	font-family: "Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif;
}

.agent-mobile .ad01 .content_list li .subtitle {
	color: rgba(255, 255, 255, .6);
}

.agent-mobile .ad01 .content_list li .item_info {
	display: block;
}

.mlist .container_header .title {
	padding-top: 10px;
	font-size: 17px;
}

.agent-mobile .project .item_block .subtitle {
	min-height: 14px;
}

.agent-mobile .news .content_list li .description {
	max-height: 42px;
	overflow: hidden;
	line-height: 2rem;
}

#mcontact .contactinfo p.add {
	width: 100%;
}

.share_app {
	clear: both;
}

#contactform {
	padding: 24px 5% 0;
}

#contactform input,
textarea {
	width: calc(100% - 40px);
	border: 1px solid #ececec;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	color: #333;
	padding: 10px 20px;
	margin-bottom: 10px;
	transition: all 0.3s ease-out 0s;
	background-color: transparent;
}

#contactform textarea {
	height: 100px;
	resize: none;
	overflow: hidden;
}

#contactform .submit:hover {
	background-color: #7B7B7B;
}

#contactform .submit {
	background-color: #5f5f5f;
	height: 48px;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	padding: 5px 0;
	cursor: pointer;
}

.agent-mobile .team_tabs .tab_content .content_list li .description {
	display: none;
}

.team .content_list li.wow {
	width: 50%;
	float: left;
}

.module.mcustomize.horizontal .contentbody {
	padding-top: 10px;
}

.module.mcustomize {
	background-size: 0 0;
	background-color: #f8f8f8;
	padding-bottom: 40px;
}

.module.mcustomize .header .title {
	color: red;
}

.module.mcustomize .header .subtitle {
	color: #B7B7B7;
}

.agent-mobile .project .item_block .item_info {
	padding: 0;
	width: calc(100% - 20px);
	margin-bottom: 2px;
}

.agent-mobile .project .item_block .subtitle {
	display: block;
}

.agent-mobile .project .item_block .item_wrapper {
	padding: 10px 12px 14px;
	box-sizing: border-box;
	background-color: transparent;
}

.agent-mobile .news .content_list .item_wrapper .date_wrap {
	margin-bottom: 8px;
}

.agent-mobile .news .item_block .item_info .subtitle {
	margin-top: 0;
}

.agent-mobile .project .item_des {
	display: none;
	text-align: left;
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	color: #777;
	font-size: 12px;
}

.agent-mobile .project .content_list .item_block:hover .item_img::before {
	display: none;
}

.agent-mobile .project .content_list .item_block:hover .description {
	color: rgba(255, 255, 255, .56);
}

.pageEditor .content {
	padding: 30px 20px 40px
}

.mpageEditor .postbody ul {
	margin-left: 18px;
}

.search-input-wrap {
	bottom: calc(100% + 10px);
}

.agent-mobile .news .item_block .item_info .title {
	font-size: 14px;
}

#mm-slider .slider-info .title {
	color: #fff;
}

#mm-slider .slider-info .subtitle {
	color: rgba(255, 255, 255, .8);
}

#mm-slider .bx-wrapper .bx-controls-auto {
	bottom: 15px;
}

#mm-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	border-color: #fff;
	background-color: #fff;
}

#mm-slider .bx-wrapper .bx-pager.bx-default-pager a {
	border-color: rgba(255, 255, 255, .0);
	background-color: rgba(255, 255, 255, .6);
}

.mm-listview>li>a,
.mm-listview>li>span {
	padding: 14px 10px 14px 20px;
}

.mm-listview>li>a.active {
	background-color: #fff;
}

#online {
	display: none;
}

.agent-mobile .mlist.ad01 {
	width: 94%;
	margin-left: 3%;
}

.agent-mobile .mlistpost.project #postSlider {
	display: block;
}

.agent-mobile .npagePage.post .project #postInfo .description a {
	border-color: #d6d6d6;
}

.agent-mobile .npagePage .service .item_info {
	text-align: left;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
}

.agent-mobile .service .item_info .title {
	font-size: 14px;
	line-height: 28px;
	color: #444;
}

.agent-mobile .npagePage .service .item_des {
	display: block;
	text-align: left;
	line-height: 22px;
	color: #888;
}

.agent-mobile .npagePage .service .item_block {
	margin-bottom: 30px;
}

.agent-mobile body {
	line-height: 26px;
	font-size: 17px;
}

.agent-mobile #sitecontent .project .item_block .title {
	font-size: 14px;
	line-height: 32px;
}

.agent-mobile .service .wrapper {
	width: 90%;
}

.agent-mobile .team_tabs .tab_content .content_list li .item_img {
	display: none;
}

.agent-mobile .team_tabs .content>.wrapper {
	width: 90%;
	margin: 0 auto;
}

.agent-mobile .team_tabs .tab_content .content_list li {
	width: 50%;
	float: left;
}

.agent-mobile .team_tabs .tab_content .content_list li .item_wrapper {
	margin: 0;
}

.agent-mobile .team_tabs {
	background: #f8f8f8;
}

.agent-mobile .team_tabs .tab_content .content_list li .title {
	color: unset;
}

.agent-mobile .service .item_info {
	padding-top: 4%;
}

.agent-mobile .service .wrapper {
	margin-bottom: 0px;
}

.agent-mobile .team_tabs .tab_content .content_list li {
	border-bottom: rgba(0, 0, 0, .08) 1px solid;
}

.agent-mobile .team_tabs .tab_content .content_list li:nth-last-child(1) {
	border-bottom: 0;
}

.agent-mobile .team_tabs .tab_content .content_list li:nth-last-child(2) {
	border-bottom: 0;
}

.agent-mobile .team .item_block .item_info {
	padding-top: 16px;
}

.module.mcustomize .header {
	padding-bottom: 20px;
}

.agent-mobile .imagelink ul li,
.agent-mobile .imagelink ul li img {
	width: 112px;
}

.agent-mobile .imagelink .content {
	padding-top: 0px;
	border-bottom: rgba(0, 0, 0, .08) 1px solid;
}

.agent-mobile .imagelink {
	padding-bottom: 14px;
}

#mcontact {
	padding-top: 0;
}

#mcontact .container_header .title,
#mcontact .container_header .subtitle {
	padding: 0;
}

.npagePage.post #postWrapper .item_tags a {
	margin: 16px 5px 0 0;
}

.agent-mobile .npagePage .service .item_des .description {
	height: 44px;
	overflow: hidden;
}

.postbody ul {
	list-style: none !important;
}

.npagePage.post .service #postNav .description {
	margin-top: 10px;
}

.agent-mobile .npagePage .mlist.news {
	padding-top: 0;
}

.npagePage.post #postNav .navitem:nth-last-child(1) {
	border-bottom: none;
}

.postbody img {
	width: auto;
}

.npagePage.post .team .postbody {
	overflow: hidden;
}

.npagePage.post .team #listContent {
	display: none
}

.mm-menu .mm-navbar .mm-title {
	color: rgba(0, 0, 0, .7);
}

.cate-box {
	margin-top: 50px;
	height: calc(100% - 50px);
}

.dropmenu ul {
	height: calc(100% - 100px);
}

.agent-mobile .mcustomize .description.wow {
	padding: 0 5%;
}

.agent-mobile .mcustomize .description a {
	display: none;
}

.agent-mobile .module.mcustomize .header.wow {
	text-align: left;
	padding-left: 5%;
	padding-top: 30px;
}

.agent-mobile .module.mcustomize .mediabody {
	padding: 0 5%;
	padding-top: 8%;
}

.agent-mobile .ad01 .content_list {}

.agent-mobile .ad01 .content_list li {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.agent-mobile .ad01 .content_list li:nth-child(2) {
	-webkit-box-ordinal-group: 1;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.agent-mobile .ad01 .content_list li:nth-child(3) {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
}

.agent-mobile .ad01 .content_list {
	position: relative;
}

.agent-mobile .module.mcounter .module_container {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	background-color: transparent;
}

.agent-mobile .module.mcounter ul.content_list li p.number .unit {
	margin-left: 4px;
}

#mcontact .contactinfo p.add {
	height: auto;
}

.agent-mobile .ad01 .content_list li:hover .item_wrapper {
	background-color: transparent;
}

.agent-mobile #sitecontent .ad01 .content_list li:hover .title {
	color: red;
}

.agent-mobile .service .subtitle {
	display: none;
}

.agent-mobile .project .item_block .item_img {
	overflow: hidden;
}

.mm-slideout .videom .content_list .item_wrapper {
	display: none;
}

#mm-slider .slider-info {
	display: none;
}

.mm-slideout .videom .content_list .details {
	display: none;
}

.mm-slideout .videom .content_list .item_tags {
	display: none;
}

.agent-mobile .ad01 .content_list li {
	width: 50%;
	float: left;
	position: relative;
}

.agent-mobile .ad01 .content_list li img {
	position: static;
	width: 100%;
}

.agent-mobile .ad01 .content_list li .item_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.agent-mobile .ad01 {
	display: none;
}

.pageEditor .content iframe {
	width: 100%;
}

.mm-slideout .imagelink .content_list {
	width: auto !important;
}

.indexPage .imagelink .content_list {
	width: 900px !important;
	overflow: hidden;
}
p.tomtop{line-height:18px;}